<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Veículos - AutoCar</title>
    <!-- CDN do Tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Fonte-Awesome -->
    <script
      src="https://kit.fontawesome.com/5432a0e64c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-gray-100">
    <!-- Header -->
    <header class="bg-red-600 text-white p-4">
      <nav
        class="max-w-7xl mx-auto flex flex-col md:flex-row md:items-center md:justify-around gap-4"
      >
        <!-- Logo e botão do menu -->
        <div class="flex justify-between md:justify-around items-center">
          <a
            href="/"
            class="flex items-center justify-center bg-black p-2 rounded-2xl hover:bg-white hover:text-black transition-all duration-200"
          >
            <i class="fa-solid fa-car text-2xl"></i>
            <span class="ml-2 inline-block font-medium md:text-2xl"
              >Só Caminhonete</span
            >
          </a>

          <button id="menu-button" class="md:hidden text-white text-2xl">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <!-- Menu -->
        <ul id="mobile-menu" class="flex-col md:flex md:flex-row gap-2 hidden">
          <li>
            <a
              href="/"
              title="Home"
              class="transition-all duration-200 hover:bg-white hover:text-black w-12 h-12 flex items-center justify-center rounded"
            >
              <i class="fas fa-home"></i>
            </a>
          </li>

          <li>
            <a
              href="/dashboard"
              title="Dashboard"
              class="transition-all duration-200 hover:bg-white hover:text-black w-12 h-12 flex items-center justify-center rounded"
            >
              <i class="fas fa-tachometer-alt"></i>
            </a>
          </li>
          <li>
            <a
              href="/cad-clientes"
              title="Cadastro de Clientes"
              class="transition-all duration-200 hover:bg-white hover:text-black w-12 h-12 flex items-center justify-center rounded"
            >
              <i class="fas fa-user"></i>
            </a>
          </li>
          <li>
            <a
              href="/cad-carros"
              title="Cadastro de Veículos"
              class="transition-all duration-200 hover:bg-white hover:text-black w-12 h-12 flex items-center justify-center rounded"
            >
              <i class="fas fa-car"></i>
            </a>
          </li>
          <li>
            <a
              href="/listar-carros"
              title="Listagem de Veículos"
              class="transition-all duration-200 hover:bg-white hover:text-black w-12 h-12 flex items-center justify-center rounded"
            >
              <i class="fas fa-car mr-[-4px]"></i>
              <i class="fas fa-car"></i>
            </a>
          </li>
          <li>
            <a
              href="/listar-clientes"
              title="Listagem de Clientes"
              class="transition-all duration-200 hover:bg-white hover:text-black w-12 h-12 flex items-center justify-center rounded"
            >
              <i class="fas fa-users"></i>
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Main -->
    <main class="w-[100%] flex flex-col items-center p-3 rounded-2xl">
      <!-- Titulo -->
      <h1 class="text-3xl font-bold mb-6">Cadastrar Veículo</h1>
      <!-- Formulário -->
      <form
        id="veiculoForm"
        class="w-full md:w-[50%] bg-white p-6 rounded shadow-2xl space-y-4"
      >
        <!-- Modelo + Marca -->
        <div class="md:flex md:space-x-4">
          <div class="md:w-1/2">
            <label for="modelo" class="block text-gray-700 font-medium mb-1"
              >Modelo</label
            >
            <input
              type="text"
              id="modelo"
              name="modelo"
              class="w-full border p-2 rounded-[8px]"
              placeholder="Ex: Civic"
              required
            />
          </div>

          <div class="md:w-1/2">
            <label for="marca" class="block text-gray-700 font-medium mb-1"
              >Marca</label
            >
            <input
              type="text"
              id="marca"
              name="marca"
              class="w-full border p-2 rounded-[8px]"
              placeholder="Ex: Honda"
              required
            />
          </div>
        </div>

        <!-- Chassi + Placa -->
        <div class="md:flex md:space-x-4">
          <div class="md:w-1/2">
            <label for="chassi" class="block text-gray-700 font-medium mb-1"
              >Chassi</label
            >
            <input
              type="text"
              id="chassi"
              name="chassi"
              class="w-full border p-2 rounded-[8px]"
              placeholder="Ex: 9BG148LK0GC404193"
              required
            />
          </div>

          <div class="md:w-1/2">
            <label for="placa" class="block text-gray-700 font-medium mb-1"
              >Placa</label
            >
            <input
              type="text"
              id="placa"
              name="placa"
              class="w-full border p-2 rounded-[8px]"
              placeholder="Ex: PIM8D48"
              required
            />
          </div>
        </div>
        <!-- Ano modelo + Cor -->
        <div class="md:flex md:space-x-4">
          <div class="md:w-1/2">
            <label for="ano_modelo" class="block text-gray-700 font-medium mb-1"
              >Ano do Modelo</label
            >
            <input
              type="number"
              id="ano_modelo"
              name="ano_modelo"
              class="w-full border p-2 rounded-[8px]"
              placeholder="Ex: 2022"
              required
            />
          </div>

          <div class="md:w-1/2">
            <label for="cor" class="block text-gray-700 font-medium mb-1"
              >Cor</label
            >
            <input
              type="text"
              id="cor"
              name="cor"
              class="w-full border p-2 rounded-[8px]"
              placeholder="Ex: Prata"
              required
            />
          </div>
        </div>

        <!-- combustível -->
        <div>
          <label for="combustivel" class="block text-gray-700 font-medium mb-1"
            >Combustível</label
          >
          <select
            id="combustivel"
            name="combustivel"
            class="w-full border p-2 rounded-[8px]"
            required
          >
            <option value="" disabled selected>
              Selecione o tipo de combustível
            </option>
            <option value="Gasolina">Gasolina</option>
            <option value="Álcool">Álcool</option>
            <option value="Diesel">Diesel</option>
            <option value="Flex">Flex</option>
            <option value="Elétrico">Elétrico</option>
          </select>
        </div>

        <!-- km -->
        <div>
          <label for="km" class="block text-gray-700 font-medium mb-1"
            >Quilometragem (KM)</label
          >
          <input
            type="number"
            id="km"
            name="km"
            class="w-full border p-2 rounded-[8px]"
            placeholder="Ex: 10000"
            required
          />
        </div>

        <!-- Valor de compra + Valor de venda sugerido -->
        <div class="md:flex md:space-x-4">
          <div class="md:w-1/2">
            <label
              for="valor_compra"
              class="block text-gray-700 font-medium mb-1"
              >Valor de Compra</label
            >
            <input
              type="number"
              id="valor_compra"
              name="valor_compra"
              step="0.01"
              class="w-full border p-2 rounded-[8px]"
              placeholder="Ex: 50000"
              required
            />
          </div>

          <div class="md:w-1/2">
            <label
              for="valor_venda_sugerido"
              class="block text-gray-700 font-medium mb-1"
              >Valor de Venda Sugerido</label
            >
            <input
              type="number"
              id="valor_venda_sugerido"
              name="valor_venda_sugerido"
              step="0.01"
              class="w-full border p-2 rounded-[8px]"
              placeholder="Ex: 60000"
              required
            />
          </div>
        </div>

        <!-- status_estoque -->
        <div>
          <label
            for="status_estoque"
            class="block text-gray-700 font-medium mb-1"
            >Status do Estoque</label
          >
          <select
            id="status_estoque"
            name="status_estoque"
            class="w-full border p-2 rounded-[8px]"
            required
          >
            <option value="" disabled selected>Selecione o status</option>
            <option value="Estoque">Estoque</option>
            <option value="Vendido">Vendido</option>
          </select>
        </div>

        <!-- data_compra -->
        <div>
          <label for="data_compra" class="block text-gray-700 font-medium mb-1"
            >Data da Compra</label
          >
          <input
            type="date"
            id="data_compra"
            name="data_compra"
            class="w-full border p-2 rounded-[8px]"
            placeholder="Ex: 2022-01-01"
            required
          />
        </div>

        <!-- Botão -->
        <button
          type="submit"
          class="w-full bg-green-500 text-white py-2 rounded-[8px] hover:bg-green-600"
        >
          Cadastrar
        </button>

        <div id="msg" class="text-green-600 font-medium text-center"></div>
      </form>
    </main>

    <script type="module" src="/js/cad-carros.js"></script>
  </body>
</html>
