<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Cliente - AutoCar</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gray-100 flex flex-col items-center justify-center min-h-screen"
  >
    <main class="flex flex-col items-center p-5 bg-slate-300 rounded-2xl">
      <h1 class="text-3xl font-bold mb-6">Cadastrar Cliente</h1>

      <form
        id="clienteForm"
        class="bg-white p-6 rounded shadow w-100 space-y-4"
      >
        <input
          type="text"
          id="nome"
          placeholder="Nome"
          class="w-full border p-2"
          required
        />
        <input
          type="text"
          id="cpf"
          placeholder="CPF"
          class="w-full border p-2"
          required
        />
        <input
          type="email"
          id="email"
          placeholder="Email (opcional)"
          class="w-full border p-2"
        />
        <input
          type="text"
          id="telefone"
          placeholder="Telefone"
          class="w-full border p-2"
          required
        />
        <button
          type="submit"
          class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600"
        >
          Cadastrar
        </button>
      </form>
    </main>

    <div id="msg" class="mt-4 text-green-600 font-medium"></div>

    <script src="/js/cad-clientes.js"></script>
  </body>
</html>
