<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <!-- CDN do Tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-100">
    <header class="bg-red-600 text-white p-5">
      <h1 class="text-4xl text-center text-white font-bold">
        Sistema de Revenda de Carros
      </h1>
    </header>
  </body>
</html>
