<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <header class="bg-red-600 text-white p-5">
      <h1 class="text-3xl text-center font-bold mb-6">
        Lista de Clientes Cadastrados
      </h1>
      <!-- navbar -->
      <nav class="my-4">
        <ul class="flex flex-col sm:flex-row sm:justify-center sm:space-x-4">
          <li>
            <a
              href="/"
              class="bg-white text-black px-4 py-2 rounded font-bold text-center block mb-2 sm:mb-0"
              >Início</a
            >
          </li>
          <li>
            <a
              href="/cad-clientes"
              class="bg-white text-black px-4 py-2 rounded font-bold text-center block mb-2 sm:mb-0"
              >Cadastrar Clientes</a
            >
          </li>
          <li>
            <a
              href="/cad-veiculos"
              class="bg-white text-black px-4 py-2 rounded font-bold text-center block mb-2 sm:mb-0"
              >Cadastrar Veículos</a
            >
          </li>
          <li>
            <a
              href="/listar-veiculos"
              class="bg-white text-black px-4 py-2 rounded font-bold text-center block mb-2 sm:mb-0"
              >Listar Veículos</a
            >
          </li>
          <li>
            <a
              href="/listar-clientes"
              class="bg-white text-black px-4 py-2 rounded font-bold text-center block mb-2 sm:mb-0"
              >Listar Clientes</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <ul id="clientes-cadastrados" class="space-y-4 p-2">
          <!-- Itens de clientes irão aparecer aqui de forma dinâmica -->
        </ul>
      </section>
    </main>
  </body>
  <script src="/js/listar-clientes.js"></script>
</html>
