<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes</title>
    <!-- CDN do Tailwind -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- Fonte-Awesome -->
    <script
      src="https://kit.fontawesome.com/5432a0e64c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <header class="bg-red-600 text-white p-4">
      <nav
        class="max-w-7xl mx-auto flex flex-col md:flex-row md:items-center md:justify-around gap-4"
      >
        <!-- Logo e botão do menu -->
        <div class="flex justify-between md:justify-around items-center">
          <a
            href="/"
            class="flex items-center justify-center bg-black p-2 rounded-2xl hover:bg-white hover:text-black transition-all duration-200"
          >
            <i class="fa-solid fa-car text-2xl"></i>
            <span class="ml-2 inline-block font-medium md:text-2xl"
              >Só Caminhonete</span
            >
          </a>

          <button id="menu-button" class="md:hidden text-white text-2xl">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <!-- Menu -->
        <ul id="mobile-menu" class="flex-col md:flex md:flex-row gap-2 hidden">
          <li>
            <a
              href="/"
              title="Home"
              class="transition-all duration-200 hover:bg-white hover:text-black w-12 h-12 flex items-center justify-center rounded"
            >
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li>
            <a
              href="/cad-clientes"
              title="Cadastro de Clientes"
              class="transition-all duration-200 hover:bg-white hover:text-black w-12 h-12 flex items-center justify-center rounded"
            >
              <i class="fas fa-user"></i>
            </a>
          </li>
          <li>
            <a
              href="/cad-veiculos"
              title="Cadastro de Veículos"
              class="transition-all duration-200 hover:bg-white hover:text-black w-12 h-12 flex items-center justify-center rounded"
            >
              <i class="fas fa-car"></i>
            </a>
          </li>
          <li>
            <a
              href="/listar-veiculos"
              title="Listagem de Veículos"
              class="transition-all duration-200 hover:bg-white hover:text-black w-12 h-12 flex items-center justify-center rounded"
            >
              <i class="fas fa-car mr-[-4px]"></i>
              <i class="fas fa-car"></i>
            </a>
          </li>
          <li>
            <a
              href="/listar-clientes"
              title="Listagem de Clientes"
              class="transition-all duration-200 hover:bg-white hover:text-black w-12 h-12 flex items-center justify-center rounded"
            >
              <i class="fas fa-users"></i>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="p-2">
        <div class="overflow-x-auto">
          <table id="clientes-cadastrados" class="table-auto border min-w-full">
            <caption class="text-2xl font-bold text-center">
              Tabela de Clientes
            </caption>

            <thead class="bg-gray-900 text-gray-100 font-bold">
              <tr>
                <th class="border border-gray-300 px-4 py-2">Nome</th>
                <th class="border border-gray-300 px-4 py-2">CPF</th>
                <th class="border border-gray-300 px-4 py-2">
                  Data de Nascimento
                </th>
                <th class="border border-gray-300 px-4 py-2">E-mail</th>
                <th class="border border-gray-300 px-4 py-2">Telefone</th>
                <th class="border border-gray-300 px-4 py-2">Ações</th>
              </tr>
            </thead>
            <tbody>
              <!-- Conteúdo da tabela dinâmico -->
            </tbody>
          </table>
        </div>
      </section>
    </main>
  </body>
  <script type="module" src="/js/listar-clientes.js"></script>
</html>
